.content {
    max-width: 1024px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

body {
    font-size: 28px;
    background-image: url("../assets/images/hs.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(127, 65, 69, 1);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
    width: 25%;
    font-family: 'Raleway';
    font-size: 22px;

}

li a {
    display: block;
    background-color: rgba(127, 65, 69, 0.6);
    color: #F0EAD6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 1s;
}

li a:hover {
    background-color: #F0EAD6;
    color: #7F4145;
    text-decoration: none;
}


p{
    color:white;
    padding:20px;
    background-color: rgba(127, 65, 69, 0.2);

}

.active{
    background-color: #F0EAD6;
    color: #7F4145;
    text-decoration: none;
}

.boton{
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.buscador{
    padding:1em;
}

.divfooter{
    display: block;
    background-color: rgba(127, 65, 69, 0.6);
    color: #F0EAD6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.6s;
}

.titulocarta{
    padding-left:0.5em;
    color: #F0EAD6;
}

.propiedades{
    color: #F0EAD6;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(127, 65, 69, 0.6);
    transition:1s;

}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    transition:1s;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition:1s;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition:1s;

}